<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cherp</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <h1>Cherp<h1>
          </h1>
          <nav>
            {{#if loggedIn}}
            <a href="/dashboard"><button type="button">Dashboard</button></a>
            <button type="button" id="logout">Logout</button>
            {{/if}}
          </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}


</body>
</html>